# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\File\projects\mediaPlay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
target/
.idea/